


<br>
    <div class="reciep-show-wrapper">

        <div class="show-image">
            <%= image_tag(@recipe.image) %>
        </div>

        <div class="recipe-show-details">
        
            <div class="recipe-title-btns">
            
                <div class="recipe-show-title">
                    <%= @recipe.title %>
                </div>

                <div class="recipe-show-buttons">
                    <%= link_to "edit recipe", edit_recipe_path(@recipe), class: "edit-recipe-btn"%>
                    <%= link_to "delete recipe", recipe_path(@recipe), method: :delete, data: { confirm: " Are you sure?"},  class: "delete-recipe-btn"  %>
                </div>
            </div>

            <div class="show-description-wrapper">
                <p><%= @recipe.description %></p> 
            </div>


            <br>

            <div>
                <%= render "ingredients/ingredient" %>
            </div>

            <br>

            <div>
                Posted  <%= time_ago_in_words(@recipe.created_at) %> ago
            </div>

            <br>

            <div>
                <h5> Author: <%= @recipe.name %></h5>
            </div>

        </div>

    </div>
    

    <%= render "reviews/review"%>

    <div class="back-btn">
        <%= link_to "Back", root_path %>
    </div>



    <%# raty js selects div with #star-rating setting number of rating to stars
        div with #star-rating is being rendered on the show view of a recipe.
    %>
    
    <script>

        $("#star-rating").raty({
            path: "/assets/",
            readOnly: true,
            score: function () {
                return $(this).attr("data-score");   
            }
        });

    </script>