    <h1>Recipes show</h1>

    <div>
        <%= image_tag(@recipe.image) %>

    </div>

    <div>
        <h1><%= @recipe.title %></h1>
    </div>

    <div>
        <h4><%= @recipe.name %></h4>
    </div>

    <div>
        <p><%= @recipe.description %></p>
    </div>

    <div>
        <p><%= @recipe.created_at %></p>

    </div>

    <div>
        <%= link_to "Edit", edit_recipe_path(@recipe) %>
        <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: " Are you sure?"} %>

    </div>
