    <div>
        <ul>
            <%  @recipe.ingredients.each do |ingredient| %>

            <li> <%= ingredient.name %></li>

                <li><%= ingredient.quantity %></li>

                <li><%= ingredient.unit %></li>

                <%= link_to "Edit ingredient", edit_recipe_ingredient_path(@recipe, ingredient) %>
                <%= link_to "Delete ingredient", recipe_ingredient_path(@recipe, ingredient), method: :delete, data: { confirm: "Are you sure?" } %>

            <% end %>
        </ul>

    </div>

    <div>
        <p><%= link_to "Add ingredient", new_recipe_ingredient_path(@recipe) %></p>

    </div>