
<h1>Add Ingredient</h1>

<div>
    <%= form_with model: [ @recipe, @recipe.ingredients.build ] do |form| %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
    </div>

    <div>
        <p><%= form.label :unit %></p>
        <%= form.select :unit, ["g", "ml", "tablespoons", "teaspoons" ] %>
    </div>


    <div>
        <%= form.submit %>
    </div>

    <% end %>

</div>