
<h1 class="add-review-heading">Add Review</h1>



<div>
    <%= form_with model:([@recipe, @recipe.reviews.build]) do |form|%>
     
        <div id="" >
            <p><%= form.label :rating %></p>
            <%= form.number_field :rating %>
        </div>
<br>
        <div>
            <p><%= form.label :review %></p>
            <%= form.text_area :body %>
        </div>

    
        <div>
            <%= form.submit %>
        </div>

    <% end %>
</div>

