
    <h1 class="add-review-heading">Add Review</h1>

    <div>
        <%= form_with model:([@recipe, @recipe.reviews.build]) do |form|%>
        
            <div id="new-rating">
                <p><%= form.label :rating %></p>
            </div>
    <br>
            <div>
                <p><%= form.label :review %></p>
                <%= form.text_area :body %>
            </div>

            <div>
                <%= form.submit %>
            </div>
        <% end %>
    </div>


    <div class="back-btn">
        <%= link_to "Back", recipe_path(@recipe) %>
    </div>


    <script>
        $("#new-rating").raty({
            path: "/assets/",
            scoreName: "review[rating]"
        });
    </script>