
<h1 class="edit-review-heading">Edit Reviews</h1>

<div>
    <%= form_with model: [@recipe, @review] do |form|%>
     
        <div id="stars">
            <p><%= form.label :rating %></p>
        </div>

        <div>
            <p><%= form.label :comment %></p>
            <%= form.text_area :body %>
        </div>

    
        <div>
            <%= form.submit %>
        </div>

    <% end %>
</div>




<script>
    $("#stars").raty({
        path: "/assets/",
        scoreName: "review[rating]"
    });
</script>
